main {
	background-color: #1E1F29;
}

h1 {
	color: #FAFAFA;
	font-size: 36px;
	font-weight: 700;
	font-family: 'Andale Mono', monospace;
}

input, textarea, select {
	background: #2E2D3D;
	color: #FAFAFA;
}

label {
	color: #AFB2BF;
}

button {
	background-color: #6C38CC;
	color: #FAFAFA;
}

input[type="email"] {
	background: red;
}