#heroButton {
	background-color: #4262FF;
	color: #FFFFFF;
}

#heroButton:hover {
	background-color: #122db6;
}

#heroButton:active {
	background-color: #071766;
}

.heroForm input:focus {
	background-color: aliceblue;
}

.link {
	color: #4262FF;
	text-decoration: underline;
}

.link:hover {
	color: #122db6;
}

h1, h2 {
	font-weight: 400;
	font-size: 48px;
	line-height: 56px;
	color: #050038;
}

p {
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
}

.heroText {
	color: #050038;
}

.sectionText {
	color: #696688;
}

header a {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #050038;
	text-decoration: none;
}

.heroForm + p {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #050038;
}

nav ul {
	list-style: none;
}

.sectionList {
	list-style: none;
	/* list-style: url('../images/check.svg'); */
}

.sectionList li::marker {
	content: url('../images/check.svg');
}

.experimentBlue {
	background: #071766;
	width: 400px;
	height: 400px;
	color: white;
	padding: 10px 20px 50px 30px;
	border: 5px solid #696688;
	margin: 10px auto;
}
