.hero {
	max-width: var(--layout-width);
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero__left {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.hero__h1 {
	margin: 0;
	font-weight: 700;
	font-size: 54px;
	line-height: 100%;
	color: var(--color-text);
}

.hero__h1_gradient {
	background: var(--gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}

.hero__cta {
	display: flex;
	gap: 32px;
}